services:
  postgres:
    image: postgres:15
    container_name: etl_postgres
    restart: always
    environment:
      POSTGRES_USER: etl_user
      POSTGRES_PASSWORD: etl_password
      POSTGRES_DB: etl_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  airflow-init:
    image: apache/airflow:2.8.1
    depends_on:
      - postgres
    env_file:
      - airflow/config/airflow.env
    entrypoint: >
      bash -c "
      airflow db migrate &&
      airflow users create
        --username admin
        --password admin
        --firstname Admin
        --lastname User
        --role Admin
        --email admin@example.com
      "
    volumes:
      - ./airflow/dags:/opt/airflow/dags

  airflow-webserver:
    image: apache/airflow:2.8.1
    depends_on:
      - airflow-init
    env_file:
      - airflow/config/airflow.env
    volumes:
      - ./airflow/dags:/opt/airflow/dags
    ports:
      - "8080:8080"
    command: webserver

  airflow-scheduler:
    image: apache/airflow:2.8.1
    depends_on:
      - airflow-init
    env_file:
      - airflow/config/airflow.env
    volumes:
      - ./airflow/dags:/opt/airflow/dags
    command: scheduler

volumes:
  postgres_data:
